@model EmployeeSchedulerAssignment.ViewModels.CalendarScheduleViewModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            // page is now ready, initialize the calendar...
            var fullCalendarEvents = [];
            @foreach (var calendarEvent in Model.calendarEvents)
            {
                @:fullCalendarEvents.push({ title: '@calendarEvent.title', start: '@calendarEvent.start' });
            }

            $('#calendar').fullCalendar({
                defaultDate: moment('2015-06-01'),
                firstDay: 1,
                events: fullCalendarEvents
            })
        });
    </script>
}

<br /><br />
@if (Model == null || (Model != null && Model.calendarEvents == null))
{
    <p>We don't have any schedules yet.</p>
}
else
{
    <h2>@Model.employeeName</h2>
    <br />
    <br />
    <p>@Model.errorString</p>
    <br />
    <div id='calendar' style="width:80%"></div>
}