@model System.Net.HttpWebResponse
@{
    ViewBag.Title = "PostAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posted assignment to JSON Service</h2>
<p>Status of POST: @Model.StatusDescription</p>
